@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;subset=cyrillic');

@font-face{
	font-family: 'Forum';
	src: url('../assets/fonts/forum.ttf');
}

@font-face{
	font-family: 'Lobster';
	src: url('../assets/fonts/lobster.ttf');
}

@media (min-width: 0px) and (max-width:991px){ 
	.nav.navbar-nav { 
		float: none; 
		text-align: center; 
	} 

	.nav.navbar-nav > li { 
		float: none; 
		display: inline-block; 
	}

	.header-wrapper{
		width: 100%;
		margin-top: 40px;
		height: 250px;
		background: url('../assets/img/wall.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		background-color: rgba(81, 27, 125, 1);
	}

	.border-img{
		max-width: 100%;
	}
}

@media (min-width: 768px) and (max-width:991px){ 
	.nav.navbar-nav { 
		float: none; 
		text-align: center; 
	} 

	.nav.navbar-nav > li { 
		float: none; 
		display: inline-block; 
	}

	.header-wrapper{
		width: 100%;
		margin-top: 90px;
		height: 250px;
		background: url('../assets/img/wall.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		background-color: rgba(81, 27, 125, 1);
	}

	.border-img{
		max-width: 100%;
	}
}

@media(min-width:992px){

	.nav.navbar-nav { 
		float: none; 
		text-align: center; 
	} 

	.nav.navbar-nav > li { 
		float: none; 
		display: inline-block; 
	}
	
	.header-wrapper{
		width: 100%;
		margin-top: 40px;
		height: 600px;
		background: url('../assets/img/wall.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		background-color: rgba(81, 27, 125, 1);
	}
	
}

body{
	background: url("../assets/img/bg-grey.jpg");
	font-family: 'Forum', sans-serif;
	font-size: 19px;
	color: #827B68;
	overflow-x: hidden;
}

h1{
	font-family: 'Lobster';
	color: #B8343E;
	margin-top: 10px;
}

h2{
	font-family: 'Lobster';
	color: #511b7d;
	margin-top: 10px;
}

h3{
	font-family: 'Forum';
	color: #511b7d;
	font-size: 32px;
	font-weight: bold;
}

h4{
	font-family: 'Forum';
	color: #511b7d;
	font-size: 28px;
	font-weight: bold;
}

.callback-btn{
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 5000;
}

.btn-lg-blue{
	font-size: 20px !important;
	font-weight: 400;
	border-radius: 100px;
	border-color: #9AF0FF;
	box-shadow: 0 0 10px #9AF0FF;
	border-width: 1px;
	//box-shadow: inset 0 0 25px 1px #9AF0FF, 0 0 25px 1px #9AF0FF;
	box-shadow: inset 0 0 25px  #9AF0FF, 0 0 25px #9AF0FF;
}

.btn-lg-blue:hover{
	font-size: 20px !important;
	font-weight: 400;
	color: #FFF;
	text-shadow: 1px 2px 2px #FFF;
	background-color: #FFED00;
	border-radius: 30px;
	border-color: #FFED00;
	box-shadow: inset 0 0 25px 1px #FFED00, 0 0 25px 1px #FFED00;
	border-width: 1px;
}

.vcenter{
	display: inline-block;
	vertical-align: middle;
	float: none;
}

.navbar{
	background: rgba(55,33,73, 1);
	font-size: 18px;
	color: #FFF;
	margin-bottom: 0px;
}

.strelki{
	max-width: 300px;
	height: auto;
}

.logo-wrapper{
	height: 120px;
	width: auto;
	margin-top: 10px;
	background: url('../assets/img/lenta.png') no-repeat;
	background-size: contain;
	background-position: center;
}

.slogan{
	color: #FFE434;
	font-family: 'Forum';
	font-weight: bold;
	text-shadow: 0px 1px 1px #808080;
}

.logo-wrapper img{
	padding-top: 26px;
	height: 70px;
}

.carousel{
	height: 400px;
	width: 600px;
	position: absolute;
	left: 50%;
	margin-left: -300px;
}

.carousel-inner{
	height: 400px;
	width: 600px;
}

.carousel-inner>.item>img {
	max-height: 100%;
	margin: auto;
}


.chapter-name{
	padding-top: 30px;
	padding-bottom: 30px;
}

.video-holder {
	position: relative;
	padding-bottom: 56.25%; 
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-holder iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-bottom: 50px;
}

.bloquote-wrapper{
	background: #B8343E;
	padding-top:30px;
	padding-bottom:30px;
	color: #FFF;
}

.bloquote-wrapper p{
	font-size: 30px;
}

.bloquote-wrapper img{
	max-height: 200px;
	width: auto;
}

.bloquote-wrapper img{
	max-width: 250px;
	height: auto;
}

.infography-wrapper{
	padding-bottom: 50px;
}

.infography-wrapper img{
	max-height: 150px;
	width: auto;
}

.corp-wrapper{
	padding-bottom: 50px;
}

.corp-row{
	background-color: #FFF;
	box-shadow: 2px 2px 6px rgba(1, 5 ,53, 0.8), 2px 2px 10px rgba(1, 5 ,53, 0.9);
	margin-bottom: 30px;
}

.corp-row .corp-text{
	padding-left: 50px;
	padding-right: 50px;
	text-align: left !important;
}

.corp-wrapper img{
	max-height: 200px;
	max-width: 100%;
	width: auto;
}

.ask-wrapper{
	width: 100%;
	height: auto;
	color: #FFF;
	background-position: bottom;
	padding-top: 50px;
	padding-bottom: 50px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 6px 10px rgba(0, 0, 0, 0.19);
	background: url(../assets/img/city.jpg) no-repeat;
	background-size: cover;
}

.ask-wrapper .support{
	max-width: 250px;
	max-height: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

.info-row{
	background-color: rgba(55,33,73, 0.9);
	padding: 20px 20px 20px 20px;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.8);
}

.ask-btn{
	background-color: #B8343E;
	border-color: #B8343E;
	color: #FFE434;
	font-weight: bold;
	font-size: 25px;
	border-radius: 0px;
}

.ask-btn:hover{
	background-color: #FFE434;
	border-color: #FFE434;
	color: #B8343E;
	font-size: 25px;
}

.ask-btn:active{
	background-color: #FFE434;
	border-color: #FFE434;
	color: #B8343E;
	font-size: 25px;
}

.ask-btn:active:hover{
	background-color: #BEA500;
	border-color: #BEA500;
	color: #A62632;
	font-size: 25px;
}

.ask-btn:focus{
	background-color: #FFE434;
	border-color: #FFE434;
	color: #B8343E;
	font-size: 25px;
}

.gift-container{
	position: relative !important;
}

.gift-container img{
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
	border-radius: 15px;
	box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.gift-container:hover img {
	opacity: 0.3;
}

.gift-container:hover .middle {
	opacity: 1;
}

.middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 43%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%)
}

.reviews{
	background: url(../assets/img/wall.png) no-repeat;
	width: 100%;
	background-size: cover;
	background-position: center center;
	height: 600px;
	background-color: rgba(81, 27, 125, 1);
	line-height: 1;
}

.contacts{
	padding-bottom: 30px;
}

.footer{
	background-color: #010834;
	width: 100%;
	padding-top: 30px;	
}

.footer h4{
	color: #FFF;
	font-size: 24px;
}

.footer span img {
	height: 80px;
	width: 80px;
	filter: grayscale(100%);
}

.footer span img:hover {
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
	filter: none;
}